/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #469fdb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bad4f7;
  border-radius: 25%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}